@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
#maincontainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: blueviolet;
  height: 600px;
  width: 400px;
  background-color: goldenrod;
}
#screen {
  display: flex;
  margin: 5px;
  height: 30%;
  border: 2px solid darkgreen;
  border-radius: 5%;
  font-family: orbitron;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  background-color: hotpink;
}

#buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: 100%;
  grid-template-columns: 25% 25% 25% 25%;
}

.calcbutton {
  text-align: center;
  justify-content: center;
  padding: 25%;
  font-size: large;
  font-weight: bold;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 5%;
  margin: 3px;
  color: chartreuse;
}
